body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.menu{
    padding-left: 50px;
    background-color: rgb(8, 0, 81);
}
.menu ul{
    display: flex;
}
.menu li{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu a{
    color: whitesmoke;
    text-transform: uppercase;
}
.menu input{
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
}
.headMenu{
    background-color: rgb(203, 221, 221);
    padding-left: 100px;
    display: flex;
    text-transform: uppercase;
}
.logo img{
    width: 80px;
}
.headMenuLi ul{
    display: flex;
    margin-top: 25px;
}
.headMenuLi li{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}
.headMenuLi a:hover{
    color: black;
    transition: 0.5s;
}
.headMenuButtons{
    margin-top: 25px;
    margin-left: 25px;
    font-size: 20px;
}
.headMenuButtons a{
    color: white; 
    padding-top: 8px;
    padding-bottom: 8px; 
    padding-right: 10px;
    padding-left: 10px; 
    border-radius: 20px;
}
.blueButton{
    background-color: rgb(31, 145, 221);
}
.blueButton:hover{
    background-color: rgb(14, 87, 136);
    transition: 0.5s;
}
.redButton{
    background-color: rgb(231, 72, 40);
}
.redButton:hover{
    background-color: rgb(138, 39, 19);
    transition: 0.5s;
}
.banner{
    text-align: center;
}
.cardText ul{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
}
.cardText img{
    width: 40px;    
}
.cardImg{
    width: 20px;
}
.cardList{
    width: 220px;
    height: 180px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 15px;
    margin-left: 15px;
}
.sales_card{
    background-color: orange;
    padding: 5px;
}
.sales_card a{
    color: white
}
.card_games{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}
.card_sales_games p{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}
.card_franchises{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;  
}
.cardList2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    width: 200px;  
    margin: 12px;
}
.cardList2 img{
    width: 100%;
    display: block;
    border-radius: 4px;
}
.cardList2 .card2_discount{
    position: absolute;
    bottom: -12px;
    right: 0;
    background: #ff3a2f;
    color: white;
    padding: 6px 10px;
}
.cardList2 .card2_franchise {
    position: absolute;
    bottom: -20px;
    color: white;
    padding: 6px 10px;
}
.card_events{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;  
}
.cardList3{
    margin: 15px;
    height: 200px;
}
h2{
   text-align: center; 
}
.red{
    background-color: red;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.review_list{
    display: flex;
    justify-content: center;
}